{% extends 'base.html' %}
{% block content %}
{% load static %}

<link rel="stylesheet" href="{% static 'homepage.css' %}">


<!-- Search Bar -->
<div class="search-container">
    <form action="{% url 'search_results' %}" method="get" class="search-form">

            <input
                type="text"
                name="q"
                placeholder="Vyhledat zájezd, město nebo hotel..."
                class="search-input"
                required>

        <button type="submit" class="search-button">Hledat</button>
    </form>
</div>

<!-- Promoted Trips Horizontal Scroll Slider -->
<aside class="promoted-trips section-margin">
  <h2 class="text-center mb-4">TRAVEL WITH US </h2>
  <div class="trip-card">
    {% if promoted_trips %}
      <div class="trip-image-wrapper">
        {% if promoted_trips.0.image %}
          <img src="{{ promoted_trips.0.image.url }}" alt="{{ promoted_trips.0.tour_name }}" class="trip-image">
        {% else %}
          <img src="{% static 'default_trip_image.jpg' %}" alt="Default Image" class="trip-image">
        {% endif %}
      </div>
      <div class="trip-info">
        <h3 class="trip-title">{{ promoted_trips.0.tour_name }}</h3>
        <p>
          Z <strong>{{ promoted_trips.0.departure_city.name }}</strong>
          do <strong>{{ promoted_trips.0.destination_city.name }}</strong>
        </p>
        <a href="{% url 'trip_detail' promoted_trips.0.id %}" class="btn btn-primary">Více informací</a>
      </div>
    {% else %}
      <p>Žádný zájezd k zobrazení.</p>
    {% endif %}
</div>
</aside>

<!-- Four Static Boxes -->
<section class="container mt-5">
    <h2 class="text-center mb-4">Tipy pro vaši dovolenou</h2>
    <div class="row text-center">
        <div class="col-md-4">
            <div class="info-box p-3 border bg-white">
                <i class="fas fa-sun fa-2x mb-3"></i>
                <h4>Zimní dovolená u moře? V lednu jedině do exotiky!</h4>
                <p>Objevte nejlepší destinace pro slunnou dovolenou v lednu a užijte si teplo, když u nás mrzne.</p>

            </div>
        </div>
        <div class="col-md-4">
            <div class="info-box p-3 border bg-light">
                <i class="fas fa-umbrella-beach fa-2x mb-3"></i>
                <h4>Dominikánská republika: Zažijte Karibik v jeho nejlepší sezóně!</h4>
                <p>Právě teď je ideální čas navštívit Dominikánskou republiku. Nádherné pláže a skvělé počasí na vás čekají.</p>

            </div>
        </div>
        <div class="col-md-4">
            <div class="info-box p-3 border bg-white">
                <i class="fas fa-plane-departure fa-2x mb-3"></i>
                <h4>First Minute: Nejlepší nabídky a termíny pro vaši dovolenou!</h4>
                <p>Zarezervujte si dovolenou včas a získejte nejširší výběr hotelů a termínů za skvělé ceny.</p>

            </div>
        </div>
    </div>
</section>

<!-- Section: Top-Selling Trips -->
<section class="container mt-5 text-center">
    <div class="p-3 bg-secondary text-white">
        <h2 class="text-center mb-4">Top-Selling Trips</h2>
        <p>Explore exclusive deals and unparalleled comfort for your travels.</p>
    </div>

    <div class="row row-cols-1 row-cols-md-2 row-cols-lg-4 g-4">
        {% for trip in top_selling_trips %}
        <div class="col">
            <div class="card h-100 shadow-sm">
                <img src="{{ trip.image.url }}" class="card-img-top" alt="{{ trip.tour_name }}">
                <div class="card-body d-flex flex-column">
                    <h5 class="card-title text-center mb-3">{{ trip.tour_name }}</h5>
                    <p class="mb-1"><strong>Remaining Seats:</strong> {{ trip.remaining_seats }}</p>
                    <p class="mb-1"><strong>Price per Adult:</strong> {{ trip.price_per_adult }} CZK</p>
                    <p class="mb-3"><strong>Price per Child:</strong> {{ trip.price_per_child }} CZK</p>
                    <div class="mt-auto text-center">
                        <a href="{% url 'trip_detail' trip.id %}" class="btn btn-primary">View Details</a>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</section>

<!-- Section: Last Minute Trips -->
<section class="container mt-5 text-center">
    <div class="p-3 bg-secondary text-white">
        <h2>Last Minute Trips</h2>
        <p>Book your dream vacation today at incredible prices.</p>
    </div>
        <div class="row">
        {% for trip in last_minute_trips %}
        <div class="col-md-4">
            <div class="card mb-3" style="height: 400px;">
                <img src="{{ trip.image.url }}" class="card-img-top" alt="{{ trip.tour_name }}">
                <div class="card-body d-flex flex-column justify-content-between">
                    <h5 class="card-title">{{ trip.tour_name }}</h5>
                    <p class="card-text">Remaining Seats: {{ trip.remaining_seats }}</p>
                    <p class="card-text">Price per Adult: {{ trip.price_per_adult }} CZK</p>
                    <div class="text-center mt-auto">
                        <a href="{% url 'trip_detail' trip.id %}" class="btn btn-primary">View Details</a>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</section>


<section class="container mt-4">
    <div class="row text-center">
        <div class="col-md-3">
            <div class="info-box p-3 border bg-light">
                <h4><a href="{% url 'contact' %}" class="text-dark"><strong>Newsletter</strong></a></h4>
                <form method="post" action="/newsletter/" class="d-flex flex-column align-items-center">
                    {% csrf_token %}
                    <label>
                        <input type="email" name="email" placeholder="Enter your email" class="form-control mb-2">
                    </label>
                    <button type="submit" class="btn btn-primary">Subscribe</button>
                </form>
            </div>
        </div>
        <div class="col-md-4">
            <div class="align-center info-box p-3 border bg-light">
                <h4><a href="{% url 'contact' %}" class="text-dark"><strong>Contact Us</strong></a></h4>
                <div class="contact-info">
                    <p>Email: info@travelagency.com</p>
                    <p>Phone: +420 123 456 789</p>
                    <p>Address: 123 Travel Street, Prague</p>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="info-box p-3 border bg-light">
                <h4><strong>Follow Us</strong></h4>
                <div class="social-links">
                    <a href="#" class="me-3 text-dark">Facebook</a>
                    <a href="#" class="me-3 text-dark">Twitter</a>
                    <a href="#" class="text-dark">Instagram</a>
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock %}
