{% extends "base.html" %}

{% block content %}
<h1 class="text-center my-4">Hotels</h1>

<div class="container">
    <div class="row">
        {% for hotel in hotels %}
        <div class="col-md-4 mb-4">
            <div class="card">
                <!-- Obrázek hotelu -->
                {% if hotel.image %}
                    <img src="{{ hotel.image.url }}" class="card-img-top" alt="{{ hotel.name }}">
                {% else %}
                    <img src="https://via.placeholder.com/300x200" class="card-img-top" alt="Default Hotel Image">
                {% endif %}

                <!-- Detaily hotelu -->
                <div class="card-body">
                    <h5 class="card-title">{{ hotel.name }}</h5>
                    <h6 class="card-subtitle mb-2 text-muted">{{ hotel.Stars }} Stars</h6>
                    <p class="card-text">{{ hotel.Description|default:"No description available." }}</p>
                    <p class="card-text"><strong>City:</strong> {{ hotel.City.name }}</p>
                </div>
            </div>
        </div>
        {% empty %}
        <p>No hotels available at the moment.</p>
        {% endfor %}
    </div>
</div>

{% endblock %}
