{% extends "base.html" %}
{% block title %}Objednávka dokončena{% endblock %}

{% block content %}
<div class="text-center mt-5">
    <h1>Vaše objednávka byla úspěšně dokončena!</h1>
    <p>Výlet: {{ purchase.travel_info.tour_name }}</p>
    <p>Počet dospělých: {{ purchase.adult_count }}</p>
    <p>Počet dětí: {{ purchase.child_count }}</p>
    <p>Celková cena: {{ purchase.total_price }} Kč</p>
    <a href="{% url 'homepage' %}" class="btn btn-primary mt-4">Zpět na úvodní stránku</a>
</div>
{% endblock %}