<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="/">Travel Agency</a>

  <div class="container">

    <button
      class="navbar-toggler"
      type="button"
      data-toggle="collapse"
      data-target="#navbarNavAltMarkup"
      aria-controls="navbarNavAltMarkup"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <ul class="navbar-nav">
        <!-- Home and Trip List -->
        <li class="nav-item">
          <a class="nav-link {% if request.resolver_match.url_name == 'homepage' %}active{% endif %}" href="{% url 'homepage' %}">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link {% if request.resolver_match.url_name == 'trip_list' %}active{% endif %}" href="{% url 'trip_list' %}">Trip List</a>
        </li>

        <li class="nav-item">
          <a class="nav-link {% if request.resolver_match.url_name == 'hotels' %}active{% endif %}" href="{% url 'hotels' %}">Hotels</a>
        </li>
      <li class="nav-item">
      <a class="nav-link" href="{% url 'employee_list' %}">Employees</a>
      </li>
        {% if user.is_authenticated %}
        <li class="nav-item">
          <a class="nav-link" href="{% url 'purchase_trip' trip_id=1 %}">Purchase Trip</a>
        </li>
        {% endif %}
      </ul>

      <!-- Contact and Account -->
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a class="nav-link {% if request.path == '/contact/' %}active{% endif %}" href="/contact/">Contact</a>
        </li>

        <li class="nav-item dropdown">
          <a
            class="nav-link dropdown-toggle"
            href="#"
            id="userDropdown"
            role="button"
            data-toggle="dropdown"
            aria-haspopup="true"
            aria-expanded="false"
          >
            {% if user.is_authenticated %}
              🧑🏻‍💻{{  user.username }}
            {% else %}
              Account
            {% endif %}
          </a>
          <div class="dropdown-menu dropdown-menu-right" aria-labelledby="userDropdown">
            {% if user.is_authenticated %}
              <a class="dropdown-item" href="{% url 'logout' %}">Logout</a>
              <a class="dropdown-item" href="{% url 'password_change' %}">Password Change</a>
              <a class="dropdown-item" href="{% url 'password_reset' %}">Password Reset</a>
              <a class="dropdown-item" href="/custom-admin/">Custom Admin</a>
            {% else %}
              <a class="dropdown-item" href="{% url 'login' %}">Login</a>
              <a class="dropdown-item" href="{% url 'signup' %}">Sign Up</a>
            {% endif %}
          </div>
        </li>
      </ul>
    </div>
  </div>
</nav>

