{% extends "base.html" %}
{% block content %}

<h1>Contact Messages</h1>

<table class="table" >
    <thead>
        <tr>
            <th>Name</th>
            <th>Email</th>
            <th>Phone</th>
            <th>Preferred Contact</th>
            <th>Created At</th>
            <th>Actions</th>
        </tr>
    </thead>

    <tbody>
        {% for message in messages %}
        <tr>
            <td>{{ message.name }}</td>
            <td>{{ message.email }}</td>
            <td>{{ message.phone }}</td>
            <td>{{ message.get_preferred_contact_display }}</td>
            <td>{{ message.created_at }}</td>
            <td>
                <a href="{% url 'contact_message_detail' message.id %}" class="btn btn-info btn-sm">View</a>
            </td>
        </tr>
        {% empty %}
        <tr>
            <td colspan="6">No messages found.</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
